<footer>
    <div class="interface">

        <section class="bottom-footer">
            <p>Figueira Barber | Todos os direitos reservados.</p>
            <p class="p1">Desenvolvido por Matheus Knupp</p>
            
            <div class="icons-dev">
                <a href="https://www.linkedin.com/in/matheus-knupp/" target="_blank">
                    <button><i class="bi bi-linkedin"></i></button>
                </a>
                <a href="mailto:matheus.knupp.ds@outlook.com">
                    <button><i class="bi bi-envelope-at"></i></button>
                </a>
            </div>
        </section>
    </div>
</footer>