<section class="hero-section">
  <div class="hero-container">
    
    <div class="hero-text">
      <span class="badge">Barbeiro Especialista</span>
      <h1>Oi, eu sou o <br> <span class="light">Matheus</span> <br> <strong class="highlight">Figueira</strong></h1>
      <p>
        Transformo cortes de cabelo em experiências de estilo. 
        Unindo a precisão técnica com a estética moderna para elevar sua autoestima.
      </p>
      <div class="buttons">
        <button class="btn-primary">Agendar Agora</button>
        <button class="btn-secondary">Conhecer Mais</button>
      </div>
    </div>

    <div class="hero-image">
      <div class="image-box">
        <img src="perfil.jfif" alt="Matheus Figueira Barbeiro">
      </div>
    </div>

  </div>
</section>