<section class="hero-section">
  <div class="hero-container" id="home">
    
    <div class="hero-text">
      <span class="badge">Barbeiro Especialista</span>
      <h1>Oi, eu sou o <br> <span class="light">Matheus</span> <br> <strong class="highlight">Figueira</strong></h1>
      <p>
        Transformo cortes de cabelo em experiências de estilo. 
        Unindo a precisão técnica com a estética moderna para elevar sua autoestima.
      </p>
      <div class="buttons">
        <a href="https://wa.me/5531988185243?text=Olá,%20Figueira!%20Vim%20pelo%20site%20e%20gostaria%20de%20agendar%20um%20horário." 
          target="_blank" 
          class="btn-primary">
          Agendar Agora
        </a>
        
        <button class="btn-secondary">Conhecer Mais</button>
    </div>
    </div>

    <div class="hero-image">
      <div class="image-box">
        <img src="perfil.jfif" alt="Matheus Figueira Barbeiro">
      </div>
    </div>

  </div>
</section>