/* src/app/app.css */

/* O :host é a tag <app-root> invisível que o Angular cria. 
   Temos que forçar ela a se comportar como um bloco que ocupa a tela toda. */
:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}