<section class="banner-section">
  <div class="banner-container">
    
    <div class="banner-item">
      <div class="icon-box">
        <span class="number-icon">+1000</span>
      </div>
      <p>Cabelos Cortados</p>
    </div>

    <div class="banner-item">
      <div class="icon-box">
        <i class="bi bi-patch-check-fill"></i>
      </div>
      <p>Barbeiro Certificado</p>
    </div>

    <div class="banner-item">
      <div class="icon-box">
        <i class="bi bi-people-fill"></i>
      </div>
      <p>Atendendo Todas Idades</p>
    </div>

    <div class="banner-item">
      <div class="icon-box">
        <i class="bi bi-stars"></i>
      </div>
      <p>Restaurando Autoestimas</p>
    </div>

  </div>
</section>